{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <title>{{ blogsettings.tab_bar_title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ blogsettings.description }}>
    <meta name="robots" content="index, follow">
    <meta name="author" content="{{ blogsettings.owner.username }}">
    <meta name="keywords" content="{% for keyword in post.get_keywords %}{{ keyword }}{% if not forloop.last %},{% endif %}{% endfor %}">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Article",
          "headline": "{{ post.day_question }},
          "author": {
            "@type": "Person",
            "name": "{{ blogsettings.owner.get_full_name }}",
            "name_in_persian": "{{ blogsettings.owner.get_full_name_in_persian }}",
            "image": {
              "@type": "ImageObject",
              "url": "{% if blogsettings.owner.image %}{{ blogsettings.owner.image.url }}{% endif %}"
            }
          },
          "datePublished": "{{ post.published_date }}",
        }
        </script>
</head>
<body dir="rtl" class="bg-myblack h-screen">
    <header class="bg-custom-blue text-white p-6 shadow-lg">
        <div class="container mx-auto flex justify-between items-center">
          <h2 class="text-3xl font-bold">{{ blogsettings.page_title }}</h2>
            <a href="{{ blogsettings.owner.website }}" rel="nofollow noopener" class="flex items-center gap-8">
                <div class="flex flex-col gap-1">
                    <h1 class="text-3xl font-bold sm:animate-pulse lg:animate-none">{{ blogsettings.owner.get_full_name_in_persian }}</h1>
                    <span class="text-orange-200 text-[13px] opacity-100 mx-auto">(درمورد من بیشتر بدانید)</span>
                </div>
                {% if blogsettings.owner.image %}
                    <img src="{{ blogsettings.owner.image.url }}" loading="lazy" alt="{{ blogsettings.owner.get_full_name }} - {{ blogsettings.owner.get_full_name_in_persian }}" class="xl:w-25 xl:h-25 sm:w-20 sm:h-20 w-48 h-48 rounded-full object-cover bg-auto hover:scale-110 transition-all ease-in-out duration-300 outline-none ring-orange-400 ring-3">
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z"/></svg>
                {% endif %}
            </a>
        </div>
    </header>
    <main class=" flex flex-col items-center justify-center">
        <article class="bg-mywhite p-8 mx-6 my-15 rounded-xl shadow-white max-w-4xl w-full text-center">
            <strong><h2 class="sm:text-xl 2xl:text-2xl font-semibold text-purple-600 mb-4">{{ post.day_question }}</h2></strong>
            <p class="sm:text-lg 2xl:text-lg text-gray-700 text-justify">{{ post.text }}</p>
        </article>
        <dive class="bg-mywhite p-8 mx-6 my-15 rounded-xl shadow-lg max-w-4xl w-full text-center" hidden>
            <h6 style="margin:5px; text-align: center;">متن مخفی:</h6>
            <strong><h2 class="sm:text-xl 2xl:text-2xl font-semibold text-purple-600 mb-4">{{ post.day_question }}</h2></strong>
            <p class="sm:text-lg 2xl:text-lg text-gray-700 text-justify">{{ post.secret_text }}</p>
        </dive>
    </main>
</body>
</html>

    
    
 