{% load static %}
<!DOCTYPE html>
<html lang="fa">
<head>
    <title>{{ blogsettings.tab_bar_title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ blogsettings.description }}>
    <meta name="robots" content="index, follow">
    <meta name="author" content="{{ blogsettings.owner.username }}">
    <meta name="keywords" content="{% for keyword in post.get_keywords %}{{ keyword }}{% if not forloop.last %},{% endif %}{% endfor %}">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Article",
          "headline": "{{ post.day_question }},
          "author": {
            "@type": "Person",
            "name": "{{ blogsettings.owner.get_full_name }}",
            "name_in_persian": "{{ blogsettings.owner.get_full_name_in_persian }}",
            "image": {
              "@type": "ImageObject",
              "url": "{% if blogsettings.owner.image %}{{ blogsettings.owner.image.url }}{% endif %}"
            }
          },
          "datePublished": "{{ post.published_date }}",
        }
        </script>
</head>
<body dir="rtl" class="bg-myblack h-screen px-5 py-4">
    <header class="bg-custom-blue text-white p-2 lg:p-5 shadow-lg">
        <div class="container mx-auto flex flex-col-reverse items-center justify-around sm:flex-row  sm:items-center sm:justify-between gap-y-5">
          <h2 class="text-sm lg:text-3xl xl:text-4xl font-bold"><a href="/"><i class="fa-solid fa-pen"></i> {{ blogsettings.page_title }}</a></h2>
            <a href="{{ blogsettings.owner.website }}" rel="nofollow noopener" class="flex flex grow items-center content-around sm:items-center sm:justify-end gap-8">
                <div class="flex flex-col gap-1">
                    <h1 class="text-lg lg:text-3xl xl:text-4xl font-bold animate-pulse lg:animate-none">{{ blogsettings.owner.get_full_name_in_persian }}</h1>
                    <span class="text-orange-200 text-[7px] lg:text-[13px] opacity-100 mx-auto">(درمورد من بیشتر بدانید)</span>
                </div>
                {% if blogsettings.owner.image %}
                    <img src="{{ blogsettings.owner.image.url }}" loading="lazy" alt="{{ blogsettings.owner.get_full_name }} - {{ blogsettings.owner.get_full_name_in_persian }}" class="xl:w-25 xl:h-25 sm:w-20 sm:h-20 w-15 h-15 rounded-full object-cover bg-auto hover:scale-110 transition-all ease-in-out duration-300 outline-none ring-orange-400 ring-3">
                {% else %}
                    <i class="fa-solid fa-user text-6xl"></i>
                {% endif %}
            </a>
        </div>
    </header>
    <main class="flex-col items-center justify-center">
        <div class="flex flex-col w-full items-center space-y-4 my-8 lg:my-15">
            <article class="bg-mywhite p-4 lg:p-8 mx-2 lg:mx-6  rounded-xl shadow-white max-w-4xl w-full text-center">
                <p class="text-[5px] sm:text-[10px] lg:text-sm text-gray-700 text-right mb-4">{{ publish_date }}</p>  
                <h2 class="text-sm sm:text-xl xl:text-2xl font-semibold text-purple-600 mb-3 text-balance"><strong>{{ post.day_question }}</strong></h2>
                <p class="text-sm 2xl:text-lg text-gray-700 text-justify text-balance">{{ post.text }}</p>
            </article>
            <div class="flex gap-4">
                {% if before_post_slug %}
                    <a href="/post/{{ before_post_slug }}/" class="flex items-center justify-center w-9 h-9 rounded-lg px-6 lg:px-10 opacity-50 hover:opacity-100 transition-all duration-300 bg-mywhite bg-opacity-60 hover:bg-opacity-100 focus:outline-none">
                        <span class="text-myblack text-sm lg:text-lg">قبلی</span> 
                    </a>
                {% endif %}
                {% if after_post_slug %}
                    <a href="/post/{{ after_post_slug }}/" class="flex items-center justify-center w-9 h-9 rounded-lg px-6 lg:px-10 opacity-50 hover:opacity-100 transition-all duration-300 bg-mywhite bg-opacity-60 hover:bg-opacity-100 focus:outline-none">
                        <span class="text-myblack text-sm lg:text-lg">بعدی</span> 
                    </a>
                {% endif %}
            </div>
        </div>   
        <dive class="bg-mywhite p-8 mx-6 my-15 rounded-xl shadow-lg max-w-4xl w-full text-center" hidden>
            <h6 style="margin:5px; text-align: center;">متن مخفی:</h6>
            <strong><h2 class="sm:text-xl 2xl:text-2xl font-semibold text-purple-600 mb-4">{{ post.day_question }}</h2></strong>
            <p class="sm:text-lg 2xl:text-lg text-gray-700 text-justify">{{ post.secret_text }}</p>
        </dive>
    </main>
    <br>
</body>
</html>

    
    
 