@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --myprimary: #a11ab3;
        --mysecondary: #e7a517;
        --myblack: #282b28;
        --mywhite: #e4e4e4;
    }
}

@layer utilities {
    .bg-myprimary {
        background-color: var(--myprimary);
    }
    .bg-mysecondary {
        background-color: var(--mysecondary);
    }
    .bg-myblack {
        background-color: var(--myblack);
    }
    .bg-mywhite {
        background-color: var(--mywhite);
    }


    .text-myprimary {
        color: var(--myprimary);
    }
    .text-mysecondary {
        color: var(--mysecondary);
    }
    .text-myblack {
        color: var(--myblack);
    }
    .text-mywhite {
        color: var(--mywhite);
    }
    
}